<%= form_for(@residence) do |f| %>
  <% if @residence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@residence.errors.count, "error") %> prohibited this residence from being saved:</h2>

      <ul>
      <% @residence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :availability %><br />
    <%= f.date_select :availability %>
  </div>
  <div class="field">
    <%= f.label :bedroom %><br />
    <%= f.text_field :bedroom %>
  </div>
  <div class="field">
    <%= f.label :bathroom %><br />
    <%= f.text_field :bathroom %>
  </div>
  <div class="field">
    <%= f.label :num_people %><br />
    <%= f.text_field :num_people %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
