<%- model_class = Residence -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:building) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:person) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:start_date) %></th>
      <th><%= model_class.human_attribute_name(:end_date) %></th>
      <th><%= model_class.human_attribute_name(:bedroom) %></th>
      <th><%= model_class.human_attribute_name(:bathroom) %></th>
      <th><%= model_class.human_attribute_name(:capacity) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @residences.each do |residence| %>
      <tr>
        <td><%= residence.building %></td>
        <td><%= residence.address %></td>
        <td><%= residence.person %></td>
        <td><%= residence.email %></td>
        <td><%= residence.phone %></td>
        <td><%= residence.start_date %></td>
        <td><%= residence.end_date %></td>
        <td><%= residence.bedroom %></td>
        <td><%= residence.bathroom %></td>
        <td><%= residence.capacity %></td>
        <td><%= mail_to residence.email, "Send Email", :class => 'btn btn-mini' %></td>
      </tr>
    <% end %>
  </tbody>
</table>


