<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @residence.name %>
</p>

<p>
  <b>Address:</b>
  <%= @residence.address %>
</p>

<p>
  <b>Price:</b>
  <%= @residence.price %>
</p>

<p>
  <b>Availability:</b>
  <%= @residence.availability %>
</p>

<p>
  <b>Bedroom:</b>
  <%= @residence.bedroom %>
</p>

<p>
  <b>Bathroom:</b>
  <%= @residence.bathroom %>
</p>

<p>
  <b>Num people:</b>
  <%= @residence.num_people %>
</p>


<%= link_to 'Edit', edit_residence_path(@residence) %> |
<%= link_to 'Back', residences_path %>
